{% if site.comments_enabled or page.comments_enabled %}

  <h2 id="commentary" class="mt0 f4">Add a comment</h2>

  <form class="c-sans-serif" name="comments" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/thanks/">

    <p class="lh-title f7"><strong>Required fields marked <span class="dark-red">*</span></strong>. I won’t publish or share your email address.</p>

    <div class="clip">
      <label for="bot-field">Add something interesting only if you’re not a human</label>
      <input name="bot-field">
    </div>

    <label for="name" class="db f7 lh-title mb1">Name <span class="dark-red">*</span></label>
    <input autocorrect="off" required class="border-box pa1 c-sans-serif ba b--moon-gray c-border db mb3 w-100" type="text" name="name" id="name">

    <label for="email" class="db f7 lh-title mb1">Email <span class="dark-red">*</span></label>
    <input required autocapitalize="none" class="border-box pa1 c-sans-serif ba b--moon-gray c-border db mb3 w-100" type="email" name="email" id="email">

    <label for="website" class="db f7 lh-title mb1">Your website</label>
    <input autocapitalize="none" class="border-box pa1 c-sans-serif ba b--moon-gray c-border db mb3 w-100" type="text" name="website" id="website">

    <label for="comment" class="db f7 lh-title mb1">Comment <span class="dark-red">*</span> (use <a href="https://www.markdownguide.org/cheat-sheet/">Markdown</a> to format text)</label>
    <textarea required class="border-box pa1 ba b--moon-gray c-border db mb2 vh-50 w-100 c-monospace f7" name="comment" id="comment"></textarea>

    <input name="slug" hidden class="dn" value="{{ page.slug }}">

    <input name="uri" hidden class="dn" value="https://www.thisdaysportion.com{{ page.url }}">
    
    <button class="shadow-4 c-sans-serif f6 b pa2 ba b--moon-gray c-border bg-blue hover-bg-dark-blue white pointer c-remove-ios-borders" type="submit">Submit comment</button>

  </form>

  <h2 class="mb1 f4">Comments</h2>

  {% assign comments_present = false %}

  {% assign all_airtable_comments = site.data.airtable_comments.records | sort: "createdTime" %}

  {% for comment in all_airtable_comments %}

    {% if comment.fields.slug == page.slug %}

      {% assign comments_present = true %}

      <p>{{ comment_counter }}</p>

      <article class="mb4">

        <h3 id="{{ comment.id }}" class="f5 mt0 mb1">{% if comment.fields.website %}<a href="{{ comment.fields.website }}">{% endif %}{{ comment.fields.Name }}{% if comment.fields.website %}</a>{% endif %}</h3>

        <p class="c-sans-serif mt0 mb1 f7">{{ comment.createdTime | date: "%-d %b, %Y %H:%M" }}</p>

        <div class="c-collapse-top-margin">{{ comment.fields.comment | strip_html | markdownify }}</div>

      </article>

    {% endif %}

  {% endfor %}

  {% if comments_present == false %}

    <p class="mt1">None <span role="img" aria-label="An owl, wise">🦉</span>.</p>

  {% endif %}

{% endif %}

{% assign webmentions = "" | split: "," %}

{% assign webmention_dump = site.data.wm.links | reverse %}

{% assign this_url = page.slug | replace: ".", "-" %}

{% for item in webmention_dump %}

  {% assign target_url = item.target | split: "/" | compact | last %}

  {% if target_url == this_url %}

      {% assign webmentions = webmentions | push: item %}

  {% endif %}

{% endfor %}

{% if webmentions.size > 0 %}

  <h2 class="mb1 f4">Mentions</h2>

  <p class="f7 mt1">Comments and replies to this post from other sites and services, such as <a href="https://micro.blog">micro.blog</a> and Twitter.</p>

  {% for webmention in webmentions %}

  <article class="mb4">

    <h3 id="{{ webmention.id }}" class="f5 mt0 mb1 flex items-center">{% if webmention.data.author.url %}<a rel="nofollow" href="{{ webmention.data.author.url }}">{% endif %}{% if webmention.data.author.photo %}<img class="v-mid dib h-auto w2 br-100 mr2" src="{{ webmention.data.author.photo }}" alt="{{ webmention.data.author.name }}">{% endif %}{{ webmention.data.author.name }}{% if webmention.data.author.url %}</a>{% endif %}</h3>

    <p class="c-sans-serif mt0 mb1 f7"><a rel="nofollow" href="{{ webmention.data.url }}"><time>{{ webmention.data.published | date: "%-d %b, %Y %H:%M" }}</time></a>{% if webmention.activity.type == 'like' %} {{ webmention.activity.sentence_html }}{% endif %}</p>

    {% if webmention.data.content %}<div class="c-collapse-top-margin">{{ webmention.data.content | markdownify }}</div>{% endif %}

  </article>

  {% endfor %}

{% endif %}
