<h2 class="f4 mb3">Add a comment</h2>

<form name="comments" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/thanks/">

  <p class="lh-title f7">All fields required. I won’t publish or share your email address – I just need it to get in touch to clarify anything.</p>

  <div class="clip">
    <label for="bot-field">Add something interesting only if you’re not a human</label>
    <input name="bot-field">
  </div>

  <input name="slug" hidden class="dn" value="{{ page.slug }}">

  <label for="name" class="db f7 lh-title mb1">Name</label>
  <input required class="border-box pa1 c-sans-serif ba b--moon-gray db mb3 w-100" type="text" name="name" id="name">

  <label for="email" class="db f7 lh-title mb1">Email</label>
  <input required class="border-box pa1 c-sans-serif ba b--moon-gray db mb3 w-100" type="email" name="email" id="email">

  <label for="comment" class="db f7 lh-title mb1">Message</label>
  <textarea required class="border-box pa1 c-sans-serif ba b--moon-gray db mb2 vh-50 vh-25-ns w-100" name="comment" id="comment"></textarea>
  
  <button class="f6 b pa2 ba b--moon-gray bg-blue hover-bg-dark-blue white pointer c-remove-ios-borders" type="submit">Submit comment</button>

</form>