{% assign items = paginator.posts %}

{% for item in items %}

    <article class="mv4 mv5-ns">

      {% if item.is_post %}

        <header class="c-sans-serif flex flex-column-reverse">

          <h2 class="c-sans-serif f5 c-lh-title mt1 mb2"><a class="db" href="{{ item.url }}">{{ item.title }}</a></h2>

          <p class="ma0 f6"><time datetime="{{ item.date | date: "%Y-%m-%d" }}">{{ item.date | date: "%-d %b, %Y" }}</time>{% if page.is_home %} &middot; <a href="/posts">Post</a>{% endif %}</p>

        </header>

        {% if item.sub %}

        <p class="ma0 c-serif">{{ item.sub }}</p>

        {% else %}

        <p class="ma0 c-serif">{{ item.excerpt | strip_html | strip_newlines }}</p>

        {% endif %}

      {% elsif item.is_note %}

        <header class="c-sans-serif">

          <h2 class="clip c-sans-serif f5 c-lh-title mt1 mb2"><a class="db" href="{{ item.url }}">{{ item.title }}</a></h2>

          <p class="mt0 mb1 f6"><a href="{{ item.url }}"><time datetime="{{ item.date | date: "%Y-%m-%d" }}">{{ item.date | date: "%-d %b, %Y" }}</time></a>{% if page.is_home %} &middot; <a href="/notes">Note</a>{% endif %}</p>

        </header>

        <div class="c-serif">{{ item.content }}</div>

      {% else %}

        <header class="c-sans-serif flex flex-column-reverse">

          <h2 class="f5 c-lh-title mt1 mb2"><a class="db" href="{{ item.url }}">{{ item.title }}</a></h2>

          <p class="ma0 f6"><time datetime="{{ item.date | date: "%Y-%m-%d" }}">{{ item.date | date: "%-d %b, %Y" }}</time>{% if page.is_home %} &middot; <a href="/links">Link</a>{% endif %}</p>

        </header>

        <p class="ma0 c-serif">{{ item.content | strip_html | strip_newlines | truncatewords: 40 }}</p>

      {% endif %}

    </article>

{% endfor %}

{% if paginator.total_pages > 1 %}

<footer class="pt4 c-sans-serif">

    <div class="flex justify-between b">

        {% if paginator.next_page %}

            <div>

              <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&larr; Older</a>

            </div>

        {% endif %}

      {% if paginator.previous_page %}

          <div>

            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer &rarr;</a>

          </div>

      {% endif %}

    </div>

    <!-- <p class="f6 mt0 silver">{{page.pagination_info.curr_page}}/{{page.pagination_info.total_pages}}</p> -->

</footer>

{% endif %}
