{% assign items = paginator.posts %}

{% for item in items %}

    <article class="pv3 pv4-ns">

      {% if item.is_post %}

        <header class="flex flex-column flex-column-reverse c-sans-serif">

          <h2 class="f5 c-lh-title ma0"><a class="db pv1" href="{{ item.url }}">{{ item.title }}</a></h2>

          <time class="c-sans-serif db f7" datetime="{{ item.date | date: "%Y-%m-%d" }}">{{ item.date | date: "%-d %b, %Y" }}</time>

        </header>

        {% if item.sub %}

          <p class="mv2 f6 f5-ns">{{ item.sub }}</p>

        {% else %}

          <p class="mv2 f6 f5-ns">{{ item.excerpt | strip_html | strip_newlines }}</p>

        {% endif %}

      {% elsif item.is_note %}

        <div class="flex flex-column flex-column-reverse">

          <div class="f6 f5-ns">{{ item.content | strip_html | strip_newlines | truncatewords: 25 }}</div>

          <time class="c-sans-serif db f7" datetime="{{ item.date | date: "%Y-%m-%d" }}"><a class="db pv1" href="{{ item.url }}">{{ item.date | date: "%-d %b, %Y" }}</a></time>

        </div>

      {% else %}

        <header class="flex flex-column flex-column-reverse">

          <h2 class="f5 c-lh-title ma0"><a class="c-sans-serif dib pv1" href="{{ item.url }}">{{ item.title }}</a> <span role="img" aria-label="Link"><a href="{{ item.link-url }}" class="dib pv1 c-icon no-underline">🔗</a></span></h2>

          <time class="c-sans-serif db f7" datetime="{{ item.date | date: '%Y-%m-%d' }}">{{ item.date | date: "%-d %b, %Y" }}</time>

        </header>

        <div class="mv2 f6 f5-ns">{{ item.content | strip_html | strip_newlines | truncatewords: 25 }}</div>

      {% endif %}

    </article>

{% endfor %}

{% if paginator.total_pages > 1 %}

<footer class="pt4 c-sans-serif">

    <div class="flex justify-between">

        {% if paginator.next_page %}

            <div>

              <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&larr; Older</a>

            </div>

        {% endif %}

      {% if paginator.previous_page %}

          <div>

            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer &rarr;</a>

          </div>

      {% endif %}

    </div>

    <!-- <p class="f6 mt0 silver">{{page.pagination_info.curr_page}}/{{page.pagination_info.total_pages}}</p> -->

</footer>

{% endif %}
