<form class="mb4" method="get" action="https://www.google.com/search">

    <input type="hidden" name="sitesearch" value="thisdaysportion.com">

    <label for="q" class="db f7">Search this site with Google:</label>

    <div class="flex border-box mw-100">

        <input type="search" autocapitalize="off" name="q" id="q" class="f5 w-70 w-80-ns c-sans-serif border-box ph1 pv2 ba b--light-silver c-remove-ios-borders">

        <button type="submit" class="w-30 w-20-ns f6 b pa2 ba b--moon-gray bg-blue hover-bg-dark-blue white pointer c-remove-ios-borders">Search</button>

    </div>

</form>
