@media screen, projection {

:root {
    --ph: 7.5vw;
    --pr: 7.5vw;
    --pl: 7.5vw;
    --measure: 36rem;
    --lh-title: 1.2;
    --sans-serif: "Fira Sans", "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "segoe ui", "helvetica neue", helvetica, ubuntu, roboto, noto, sans-serif;
    --serif: Quattro, "IBM Plex Serif", georgia, serif;
    --monospace: "IBM Plex Mono", "Fira Code", "Menlo", "Courier New", monospace;
    --accent: #357EDD;  // Tachyons dark-pink
    --link: #000;
    --hover: #357EDD; // Tachyons dark-pink
    --visited: #555; // Tachyons pink
    --focus: #357EDD; // Tachyons dark-pink
    --background: #FFF; // Tachyons dark-gray
    --foreground: #222;
    --secondary-background: #EEE; // Tachyons light-gray
    --rule-color: #CCC; // Tachyons moon-gray
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #FFB700;  // Tachyons dark-pink
        --link: #FFF;
        --hover: #FFB700; // Tachyons dark-pink
        --visited: #AAA; // Tachyons pink
        --focus: #FFB700; // Tachyons dark-pink
        --background: #333; // Tachyons dark-gray
        --foreground: #CCC; // Tachyons moon-gray
        --secondary-background: #555; // Tachyons mid-gray
        --rule-color: #777; // Tachyons gray
    }
    html {
        osx-font-smoothing: grayscale;
        scroll-behavior: smooth;
    }
}

html {
    font-size: 118.75%;
    scroll-behavior: smooth;
}

@media #{$breakpoint-not-small} {
    html {
        font-size: 118.75%;
    }
}

body {
    line-height: 1.375;
}

@media #{$breakpoint-not-small} {
    body {
        line-height: 1.4375;
    }
}

@media #{$breakpoint-large} {
    body {
        line-height: 1.5;
    }
}

.c-background {
    background-color: var(--background);
}

.c-secondary-background {
    background-color: var(--secondary-background);
}

.c-foreground {
    color: var(--foreground);
}

.c-sans-serif {
    font-family: var(--sans-serif);
}

.c-serif {
    font-family: var(--serif);
}

.c-monospace {
    font-family: var(--monospace);
}

.c-bg-accent {
  background-color: var(--accent);
}

.c-accent {
    color: var(--accent);
}

.c-measure {
    max-width: var(--measure);
}

.c-border {
    border-color: var(--rule-color);
}

.c-drop-shadow {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.25));
}

.c-target:focus {
    position: relative !important;
    clip: auto;
    outline: 3px solid var(--focus);
}

.c-columns {
    columns: auto;
    columns: 2;
}

.c-outline-offset {
    outline-offset: 0.5em;
}

.c-content-box {
    box-sizing: content-box;
}

.c-max-vh-10 {
    max-height: 10em;
}

@media #{$breakpoint-not-small} {
    .c-max-vh-10 {
        max-height: 20em;
    }
}

.c-no-js .c-hide-if-no-js {
    display: none;
}

a,
summary {
    color: var(--link);
    text-decoration-thickness: 2px;
    text-decoration-color: var(--accent);
}

a:hover,
a:active {
    color: var(--hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--lh-title);
    line-height: clamp(1.15em, 2.5vw, 1.2em);
    color: var(--link);
    font-family: var(--sans-serif);
}

figure {
    margin: 0;
}

figcaption {
    font-size: 0.875rem;
}

img {
    box-sizing: border-box;
    margin: 0;
    height: auto !important;
}

article {
    word-break: break-word;
}

article h2,
article h3,
article h4,
article h5,
article h6,
article dt,
.c-headings h2,
.c-headings h3,
.c-headings h4,
.c-headings h5,
.c-headings h6,
.c-headings dt {
    margin-top: 2.25rem;
    margin-bottom: 0;
    font-family: var(--sans-serif);
}

article h2,
.c-headings h2 {
    font-size: 1.25rem;
}

@media #{$breakpoint-not-small} {
    article h2,
    .c-headings h2 {
        font-size: 1.5rem;
    }
}

article h3,
.c-headings h3 {
    font-size: 1rem;
}

@media #{$breakpoint-not-small} {
    article h3,
    .c-headings h3 {
        font-size: 1.25rem;
    }
}

article h4,
.c-headings h4 {
    font-size: 1rem;
}

article h5,
.c-headings h5 {
    font-size: 0.875rem;
}

article p,
article li {
    hyphens: auto;
    -webkit-hyphens: auto;
}


article a:visited {
    color: var(--visited);
}

article a:hover,
article a:active,
article a:focus {
    color: var(--hover);
}

.c-pr {
    padding-right: var(--pr);
}

.c-pl {
    padding-left: var(--pl);
}

@media #{$breakpoint-large} {
    .c-pl-n-l {
        padding-left: 0;
    }
    .c-pr-n-l {
        padding-right: 0;
    }
}

.c-ph {
    padding-left: var(--ph);
    padding-right: var(--ph);
}

.c-sticky {
    position: sticky;
}

.c-constrain-most * {
    max-width: var(--measure);
}

.c-constrain-most figure,
.c-constrain-most img,
.c-constrain-most hr,
.c-constrain-most pre,
.c-constrain-most .vid,
.c-constrain-most .constrain,
.c-constrain-most .vid iframe,
.c-constrain-most .vid object,
.c-constrain-most .vid embed,
.c-constrain-most .constrain iframe,
.c-constrain-most .constrain object,
.c-constrain-most .constrain embed,
.🦉 .c-constrain-most *,
.c-constrain-most .c-expand {
    max-width: 100%;
}

.c-constrain-most .c-bleed {
    max-width: calc(100% + var(--ph) * 2);
    margin-left: calc(var(--ph) - (var(--ph) * 2));
}

.c-bleed-full {
  margin-left: calc(var(--ph) - (var(--ph) * 2));
  margin-right: calc(var(--ph) - (var(--ph) * 2));
}

@media #{$breakpoint-not-small} {
    .c-unstick-ns {
        position: relative;
    }
}

.c-sans-serif {
    font-family: var(--sans-serif);
}

.c-serif {
    font-family: var(--serif);
}

.vid,
.constrain {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.vid iframe,
.vid object,
.vid embed,
.constrain iframe,
.constrain object,
.constrain embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-remove-ios-borders {
    -webkit-appearance: none;
    border-radius: 0;
}

.c-bg {
    background-repeat: no-repeat;
    background-size: 1em;
}

.c-bg-search {
    background-image: url(/images/icons/search.svg);
}

.c-bg-in-input {
    background-position: 0.375em;
}

.c-bg-in-nav {
    padding-right: 1.1em;
    background-position: right;
    background-size: 0.875em;
}


// More defaults

abbr {
    cursor: help;
}

figure {
    margin: auto 0;
}

code {
    font-size: 0.875em;
    font-family: var(--monospace);
    color: var(--accent);
}

pre {
    overflow: auto;
    padding: 1em;
    background-color: #000;
    color: #9EEBCF; // Tachyons light-green
}

pre code {
    padding: 0;
    background-color: inherit;
    color: #9EEBCF; // Tachyons light-green
}

hr {
    overflow: visible; /* For IE */
    border: none;
    border-top: medium double #EEE;
    margin: 0;
    border-color: var(--rule-color);
}

table {
    min-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: var(--sans-serif);
}

thead {
    text-align: left;
}

th {
    padding: 0.25rem;
    border-bottom: 1px solid #EEE;
    margin: 0;
}

td {
    padding: 0.25rem;
    border-bottom: 1px solid #EEE;
    margin: 0;
}

blockquote {
    font-size: 0.875em;
    padding-left: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    border-left: 0.25rem solid var(--accent);
    box-sizing: border-box;
}

*:focus {
    outline: 3px solid var(--focus) !important;
}

.top-0 {
    top: 0;
}

.c-icon,
.c-icon:hover {
  color: transparent;
  text-shadow: 0 0 var(--link);
}

.c-bar::before {
  content: "";
  display: block;
  border-top: 0.375rem solid var(--accent);
  width: 2.25rem;
  padding-top: 0.5rem;
}

// Search results

#results-container li {
    font-size: 1.25rem;
}

#results-container li a {
    display: block;
    padding: 0.25rem 0;
}


} // End the enclosing screen/projection media query


// Print styles

@media print {

* {
  background-color: white !important;
  color: black !important;
  font-family: var(--serif);
  line-height: 1.375;
}

.measure {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-top: 2em;
}

.p-name {
    margin-top: 0;
}

img {
  max-width: 100% !important;
  margin: 0;
  height: auto !important;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted #AAA;
}

.c-no-print {
  display: none;
}


}
