@media screen, projection {

:root {
    --ph: 7.5vw;
    --pr: 7.5vw;
    --pl: 7.5vw;
    --measure: 34rem;
    --measure-wide: 60rem;
    --lh-copy: 1.375;
    --lh-copy-m: 1.5;
    --lh-copy-l: 1.6;
    --lh-title: 1.1;
    --lh-title-m: 1.2;
    --lh-title-l: 1.2;
    --font-size: 125%;
    --font-size-m: 125%;
    --font-size-l: 125%;
    --sans-serif: -apple-system, BlinkMacSystemFont, "segoe ui", "helvetica neue", helvetica, ubuntu, roboto, noto, sans-serif;
    --serif: Newsreader, georgia, serif;
    --monospace: "IBM Plex Mono", "Fira Code", "Menlo", "Courier New", monospace;
    --accent: #000;  // Black
    --link: #000; // Black
    --hover: #0000EE; // Browser blue
    --visited: #666; // Tachyons mid-gray
    --focus: #FFB700; // Tachyons gold
    --selected: #0000EE; // Tachyons dark red
    --text-decoration-thickness: 2px;
    --background: #FFF; // Swansdown is E3E4DF
    --foreground: #222; // My dark gray
    --secondary-foreground: #777; // My secondary gray
    --secondary-background: #CCC; // Tachyons moon-gray
    --header-background: #FFF; // White
    --rule-color: #CCC; // Tachyons moon-gray
    --field-border-color: #CCC; // Tachyons moon-gray
    --brand-bg: #D5008F;
    --brand-foreground: #FFF;
    --brand-border: #D5008F;
    --grid-margin: 0.75rem;
    --grid-gutter: -0.75rem; // This should be -value of grid-margin
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #FFF;  // Tachyons white
        --link: #96CCFF; // Tachyons light blue
        --hover: #FFF; // Tachyons white
        --visited: #AAA; // Tachyons silver
        --focus: #FFB700; // Tachyons dark-pink
        --selected: #96CCFF;
        --background: #2C3437; // Hague blue
        --foreground: #CCC; // Tachyons moon-gray
        --secondary-foreground: #AAA;
        --secondary-background: #555; // Tachyons mid-gray
        --header-background: #2C3437; // Hague blue
        --rule-color: #555; // Tachyons mid-gray
        --field-border-color: #777; // Tachyons gray
        --brand-bg: #FBF1A9;
        --brand-foreground: #000;
        --brand-border: #FBF1A9;
    }
    html {
        osx-font-smoothing: grayscale;
        scroll-behavior: smooth;
    }
}

html {
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

@media #{$breakpoint-not-small} {
    html {
        font-size: var(--font-size-m);
    }
}

@media #{$breakpoint-large} {
    html {
        font-size: var(--font-size-l);
    }
}

body {
    line-height: var(--lh-copy);
}

@media #{$breakpoint-medium} {
    body {
        line-height: var(--lh-copy-m);
    }
}

@media #{$breakpoint-large} {
    body {
        line-height: var(--lh-copy-l);
    }
}

.c-background {
    background-color: var(--background);
}

.c-secondary-background {
    background-color: var(--secondary-background);
}

.c-foreground {
    color: var(--foreground);
}

.c-secondary-foreground {
    color: var(--secondary-foreground);
}

.c-header-background {
    background-color: var(--header-background);
}

.c-sans-serif {
    font-family: var(--sans-serif);
}

.c-serif {
    font-family: var(--serif);
}

.c-monospace {
    font-family: var(--monospace);
}

.c-lh-title {
    line-height: var(--lh-title);
}

@media #{$breakpoint-medium} {
    .c-lh-title {
        line-height: var(--lh-title-m);
    }
}

@media #{$breakpoint-large} {
    .c-lh-title {
        line-height: var(--lh-title-l);
    }
}

.c-bg-accent {
  background-color: var(--accent);
}

.c-accent {
    color: var(--accent);
}

.c-brand-bg {
    background-color: var(--brand-bg);
}

.c-brand-foreground,
.c-brand-foreground:hover {
    color: var(--brand-foreground);
}


.c-brand-border {
    border-color: var(--brand-border);
}

.c-selected {
    color: var(--selected);
}

.c-link {
    color: var(--link);
}

.c-measure {
    max-width: var(--measure);
}

.c-measure-wide {
    max-width: var(--measure-wide);
}

.c-border {
    border-color: var(--rule-color);
}

.c-field-border-color {
    border-color: var(--field-border-color);
}

.c-drop-shadow {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.25));
}

.c-target:focus {
    position: relative !important;
    clip: auto;
    outline: 3px solid var(--focus);
}

*:target {
    outline: 3px solid var(--focus);
}

.c-columns {
    columns: auto;
    columns: 2;
}

.c-collapse-top-margin * {
    margin-top: 0;
}

.c-outline-offset {
    outline-offset: 0.5em;
}

.c-content-box {
    box-sizing: content-box;
}

.c-max-vh-10 {
    max-height: 10em;
}

@media #{$breakpoint-not-small} {
    .c-max-vh-10 {
        max-height: 20em;
    }
}

c-min-vh-90 {
    min-height: 90vh;
}

.c-no-js .c-hide-if-no-js {
    display: none;
}

a,
summary {
    color: var(--accent);
    text-decoration-thickness: var(--text-decoration-thickness);
    text-decoration-color: var(--link);
}

a:hover,
a:active {
    color: var(--hover);
}

strong,
b,
.b {
    font-weight: 500;
    color: var(--accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--lh-title);
    font-family: var(--serif);
    color: var(--accent);
    font-weight: normal;
}

@media #{$breakpoint-medium} {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: var(--lh-title-m);
    }
}

@media #{$breakpoint-large} {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: var(--lh-title-l);
    }
}

figure {
    margin: 0;
}

figcaption {
    font-size: 0.875rem;
}

img {
    box-sizing: border-box;
    margin: 0;
    height: auto !important;
}

article {
    word-break: break-word;
}

.c-headings h2,
.c-headings h3,
.c-headings h4,
.c-headings h5,
.c-headings h6,
.c-headings dt {
    margin-top: 2.25rem;
    margin-bottom: 0;
}


.c-headings h2 {
    font-size: 1.25rem;
}


.c-headings h3 {
    font-size: 1rem;
    font-style: italic;
}

.c-headings h4 {
    font-size: 0.875rem;
}

.c-headings h5 {
    font-size: 0.75rem;
}


.c-hyphens {
    hyphens: auto;
    -webkit-hyphens: auto;
}


article a:visited {
    color: var(--visited);
}

article a:hover,
article a:active,
article a:focus {
    color: var(--hover);
}

.c-pr {
    padding-right: var(--pr);
}

.c-pl {
    padding-left: var(--pl);
}

@media #{$breakpoint-large} {
    .c-pl-n-l {
        padding-left: 0;
    }
    .c-pr-n-l {
        padding-right: 0;
    }
}

.c-ph {
    padding-left: var(--ph);
    padding-right: var(--ph);
}

.c-sticky {
    position: sticky;
}

.c-constrain-most * {
    max-width: var(--measure);
}

.c-constrain-most figure,
.c-constrain-most img,
.c-constrain-most hr,
.c-constrain-most pre,
.c-constrain-most .vid,
.c-constrain-most .constrain,
.c-constrain-most .vid iframe,
.c-constrain-most .vid object,
.c-constrain-most .vid embed,
.c-constrain-most .constrain iframe,
.c-constrain-most .constrain object,
.c-constrain-most .constrain embed,
.🦉 .c-constrain-most *,
.c-constrain-most .c-expand {
    max-width: 100%;
}

.c-bleed {
    max-width: calc(100% + var(--ph) * 2);
    margin-left: calc(var(--ph) - (var(--ph) * 2));
}

/* @media #{$breakpoint-large} {
    .c-bleed {
        max-width: 100%;
        margin-left: 0;
    }
} */

.c-bleed-full {
  margin-left: calc(var(--ph) - (var(--ph) * 2));
  margin-right: calc(var(--ph) - (var(--ph) * 2));
}

@media #{$breakpoint-not-small} {
    .c-unstick-ns {
        position: relative;
    }
}

.c-sans-serif {
    font-family: var(--sans-serif);
}

.c-serif {
    font-family: var(--serif);
}

.vid,
.constrain {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.vid iframe,
.vid object,
.vid embed,
.constrain iframe,
.constrain object,
.constrain embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-remove-ios-borders {
    -webkit-appearance: none;
    border-radius: 0;
}

.c-bg {
    background-repeat: no-repeat;
    background-size: 1em;
}

.c-bg-search {
    background-image: url(/images/icons/search.svg);
}

.c-bg-in-input {
    background-position: 0.375em;
}

.c-bg-in-nav {
    padding-right: 1.1em;
    background-position: right;
    background-size: 0.875em;
}

.c-grid {
    margin-right: var(--grid-gutter);
    margin-left: var(--grid-gutter);
}

.c-grid > * {
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin);
}

@media #{$breakpoint-not-small} {
    .c-grid-ns {
        margin-right: var(--grid-gutter);
        margin-left: var(--grid-gutter);
    }

    .c-grid-ns > * {
        padding-left: var(--grid-margin);
        padding-right: var(--grid-margin);
    }
}



// More defaults

abbr {
    cursor: help;
}

figure {
    margin: auto 0;
}

code {
    font-size: 0.875em;
    font-family: var(--monospace);
    color: var(--accent);
}

pre {
    overflow: auto;
    padding: 1em;
    background-color: #000;
    color: #9EEBCF; // Tachyons light-green
}

pre code {
    padding: 0;
    background-color: inherit;
    color: #9EEBCF; // Tachyons light-green
}

hr {
    overflow: visible; /* For IE */
    border: none;
    border-top: medium double #EEE;
    margin: 0;
    border-color: var(--rule-color);
}

table {
    min-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: var(--sans-serif);
}

thead {
    text-align: left;
}

th {
    padding: 0.25rem;
    border-bottom: 1px solid #EEE;
    margin: 0;
}

td {
    padding: 0.25rem;
    border-bottom: 1px solid #EEE;
    margin: 0;
}

blockquote {
    font-size: 0.875em;
    padding-left: 1rem;
    margin-left: 0;
    margin-right: 0;
    border-left: 0.25rem solid var(--accent);
    box-sizing: border-box;
}

*:focus {
    outline: 3px solid var(--focus) !important;
}

.top-0 {
    top: 0;
}

.c-icon,
.c-icon:hover {
  color: transparent;
  text-shadow: 0 0 var(--hover);
}

.c-bar::before {
  content: "";
  display: block;
  border-top: 0.375rem solid var(--accent);
  width: 2.25rem;
  padding-top: 0.5rem;
}

// Search results

#results-container li {
    font-size: 1.25rem;
}

#results-container li a {
    display: block;
    padding: 0.25rem 0;
}


} // End the enclosing screen/projection media query


// Print styles

@media print {

* {
  background-color: white !important;
  color: black !important;
  font-family: var(--serif);
  line-height: 1.375;
}

.measure {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-top: 2em;
}

.p-name {
    margin-top: 0;
}

img {
  max-width: 100% !important;
  margin: 0;
  height: auto !important;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted #AAA;
}

.c-no-print {
  display: none;
}


}
