---
layout: default
title: Microblog
footer: true
order: 5
in_nav: true
visited-links: true
prose-headings: true
underlined-links: true
hyphens: true
---

{% assign microblogs = site.data.microblogs.items %}

{% assign total_posts = microblogs.size %}

<p>A grand total of {{ total_posts }} <span role="img" aria-label="Note">📝</span> notes, <span role="img" aria-label="Camera">📷</span> pictures and <span role="img" aria-label="Quote">💬</span> quotes.</p>

<ul class="f7 f6-ns list pa0">

{% for microblog in microblogs limit: 10 %}

	<li class="flex items-start lh-title mb2">

		<span role="img" aria-label="{% if microblog.content_html contains "img " %}Camera{% elsif microblog.content_html contains "blockquote" %}Quote{% else %}Note{% endif %}" class="pv1 pr2">{% if microblog.content_html contains "img " %}📷{% elsif microblog.content_html contains "blockquote" %}💬{% else %}📝{% endif %}</span>

		{% if microblog.title %}

		<span><a class="db pv1" href="/microblog/{{ microblog.date_published | remove: ":" | remove: "+" | downcase }}/">{{ microblog.title }}</a><time>{{ microblog.date_published | date: "%-d/%-m/%Y" }}</time></span>

		{% else %}

		<span><a class="db pv1" href="/microblog/{{ microblog.date_published | remove: ":" | remove: "+" | downcase }}/">{{ microblog.content_html | strip_html | truncate: 30 }}</a><time>{{ microblog.date_published | date: "%-d/%-m/%Y" }}</time></a></span>

		{% endif %}

	</li>

{% endfor %}

</ul>

{% if microblogs.size > 10 %}

<details>

	<summary class="pointer f6 pv2">Show the remaining {{ total_posts | minus: 10 }}</summary>

	<ul class="f7 f6-ns list pa0">

	{% for microblog in microblogs offset: 10 %}

		<li class="flex items-start lh-title mb2">

			<span role="img" aria-label="{% if microblog.content_html contains "img " %}Camera{% elsif microblog.content_html contains "blockquote" %}Quote{% else %}Note{% endif %}" class="pv1 pr2">{% if microblog.content_html contains "img " %}📷{% elsif microblog.content_html contains "blockquote" %}💬{% else %}📝{% endif %}</span>

			{% if microblog.title %}

			<span><a class="db pv1" href="/microblog/{{ microblog.date_published | remove: ":" | remove: "+" | downcase }}/">{{ microblog.title }}</a><time>{{ microblog.date_published | date: "%-d/%-m/%Y" }}</time></span>

			{% else %}

			<a class="db pv1" href="/microblog/{{ microblog.date_published | remove: ":" | remove: "+" | downcase }}/"><time>{{ microblog.date_published | date: "%-d/%-m/%Y" }}</time></a>

			{% endif %}

		</li>

	{% endfor %}

	</ul>

</details>

{% endif %}

