---
layout: default
title: Microblog
footer: true
order: 5
in_nav: true
visited-links: true
prose-headings: true
underlined-links: true
hyphens: true
---

{% assign all_wp_posts = site.data.wp_posts %}

<ul class="f6 list pa0">

{% for this_wp_post in all_wp_posts %}

	<li class="mb3">

		{% if this_wp_post.title.rendered %}{{ this_wp_post.title.rendered }} {% endif %}<time class="db"><a class="dib" href="/wp/{{ this_wp_post.slug }}">{{ this_wp_post.date | date: "%d/%m/%Y" }}</a></time>

	</li>

{% endfor %}

</ul>

