{% include header.html %}

<div class="c-measure center">

	{% unless page.hide-title %}

	  <div class="mt4 mt5-m mt6-l mb4 c-constrain-most">

	      <h1 class="f3 f2-ns ma0">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>

	      {% if page.sub %}

	      	<p class="f4-ns">{{ page.sub }}</p>

        	<div class="bb w3 c-border bw3"></div>

	      {% endif %}

	  </div>

	{% endunless %}

	{{ content}}

	{% if page.pagination %}

	    {% include paginated-list.html %}

	{% else %}

	    {% include list.html %}

	{% endif %}

	{% include footer.html %}

</div>
