{% include header.html %}

<div class="c-measure center">

    {% unless page.hide-title %}

    <div class="mb3 mb4-ns">

        <h1 class="f3 f2-ns mt0 mb3 p-name c-accent">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>

        {% if page.sub %}

        <p class="f4">{{ page.sub }}</p>

        {% endif %}

    </div>

    {% endunless %}

	{{ content}}

	{% if page.pagination %}

	    {% include paginated-list.html %}

	{% else %}

	    {% include list.html %}

	{% endif %}

</div>

{% include footer.html %}
