{% include header.html %}

{% unless page.hide-title %}

  <div class="mt4 mt5-l mb4 c-sans-serif">

      <h1 class="f3 f2-ns ma0">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>

      {% if page.sub %}

      <p class="f4 mb0 measure">{{ page.sub }}</p>

      {% endif %}

  </div>

{% endunless %}

  <div class="pt3">

    {{ content}}

    {% if page.pagination %}

        {% include paginated-list.html %}

    {% else %}

        {% include list.html %}

    {% endif %}

  </div>

{% include footer.html %}
