{% include header.html %}

<article>

    {% unless page.hide-title %}

    <div class="mt4 mt5-m mt6-l mb4 c-measure center">

        <h1 class="f3 f2-ns ma0 p-name measure">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>

        {% if page.sub %}

        <p class="f4-ns">{{ page.sub }}</p>

        <div class="bb w3 c-border bw3"></div>

        {% endif %}

    </div>

    {% endunless %}

    <div class="c-measure center c-constrain-most{% if page.hide-title %} pt3{% endif %}">

      {{ content }}

    </div>

</article>

{% include footer.html %}
