{% include header.html %}

<article class="h-entry c-measure center">

    <div class="mb4">

        {% unless page.hide-title %}

        <h1 class="f4 mt0 mb3 p-name c-accent">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>

        {% endunless %}

        {% if page.sub %}

        <p class="f4">{{ page.sub }}</p>

        {% endif %}

    </div>

    <div class="e-content c-headings c-hyphens">

        {{ content }}

    </div>

</article>

{% include footer.html %}
