{% include header.html %}

<article>

    {% unless page.hide-title %}

    <div class="mt4 mt5-l mb4">

      <div class="">

        <h1 class="f3 f2-ns c-sans-serif ma0 p-name">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>

        {% if page.sub %}

        <p class="f4 mb0">{{ page.sub }}</p>

        {% endif %}

      </div>

    </div>

    {% endunless %}

    <div class="{% if page.is_wide %}c-constrain-most{% else %}c-measure{% endif %}{% if page.hide-title %} pt3{% endif %}">

      {{ content }}

    </div>

</article>

{% include footer.html %}
