{% include header.html %}

<article class="h-entry c-measure center">

  <header class="mb3 mb4-ns flex flex-column-reverse">

    <h1 class="f5 ma0 p-name c-accent"><a {% if page.is_like %}class="u-like-of" {% endif %}href="{{ page.link-url }}">{{ page.title }} &rarr;</a></h1>

    <p class="f6 mb3"><time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %b, %Y" }}</time> &middot; <a href="/links">Link</a>{% if page.link-author %} by {{ page.link-author }}{% endif %}{% if site.comments_enabled or page.comments_enabled %} &middot; <a href="#commentary" class="pv1">Commentary</a>{% endif %}</p>

  </header>

  <div class="e-content c-hyphens">

  {{ content }}

  {% include article-footer.html %}

{% include footer.html %}
