{% include header.html %}

<article class="c-measure center h-entry mt4 mt5-ns">

  <div class="flex-l">

    <div class="w-third-l pr3-l"></div>

    <div class="w-two-thirds-l pl3-l">

      <h1 class="f4 f3-ns mt0 p-name c-lh-title">{{ page.title }} <span role="img" aria-label="Link"><a href="{{ page.link-url }}" class="dib c-icon no-underline">🔗</a></span></h1>

    </div>

  </div>

  <div class="flex-l">

    <div class="c-sans-serif w-third-l pr3-l c-secondary-foreground mb4 mb0-l f6 f5-l">

        <p class="mb0"><span class="f6"><time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %b, %Y" }}{% if page.link-published %} (originally published <time datetime="{{ page.link-published | date: "%Y-%m-%d" }}">{{ page.link-published | date: "%-d %b, %Y" }}</time>{% endif %}{% if page.link-author %} by {{ page.link-author }}{% endif %})</time></span></p>

        <p class="ma0"><span class="f6"><span role="img" class="c-icon" aria-label="Link">🔗</span> <a href="/links">Link</a></span></p>

        <p class="ma0"><span class="f6"><span role="img" class="c-icon" aria-label="Comment bubble">💬</span> <a href="#commentary">Comments and mentions</a></span></p>

    </div>

    <div class="w-two-thirds-l pl3-l e-content c-measure center c-constrain-most">

    {{ content }}

    {% include article-footer.html %}

{% include footer.html %}
