{% include header.html %}

<article class="h-entry c-measure center">

  <header class="mt4 mt5-l mb4 c-constrain-most">

    <div class="f6 c-lh-title"><a class="pv1" href="/">Home</a> → <a class="pv1" href="/notes/">Notes</a></div>
    
    <h1 class="mt2 f4 f3-ns ma0 p-name measure">{{ page.title }}</h1>

    <p class="mb0 f6"><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %b, %Y" }}</time> / <span role="img" aria-label="Comment bubble">💬</span> <a href="#commentary">Comments</a></p>

  </header>

  <div class="c-constrain-most">

  {{ content }}

  </div>

  <footer class="f6 mt4">

      <div class="c-measure">

        <p><strong>Liked this? <a href="/feed/index.xml">Subscribe to the RSS feed</a> or <a href="https://micro.blog/leonp">follow me on micro.blog</a>.</strong></p>

        {% include comment-form.html %}

      </div>

  </footer>

</article>

{% include footer.html %}
