{% include header.html %}

<article class="h-entry">

  <div class="c-ph pv5 mb3 mb4-ns c-bleed-full">

    <div class="c-measure center">

      <h1 class="f4 f3-ns ma0 p-name">{{ page.title }}</h1>

    </div>

  </div>

  <div class="c-measure center">

  {{ content }}

  </div>

  <footer class="f7 mt4 c-sans-serif">

      <div class="c-measure center">

        <p>– <time class="i" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %b, %Y" }}</time> / <a href="/notes/">Notes</a></p></p>

      </div>

  </footer>

</article>

{% include footer.html %}
