{% include header.html %}

<article class="h-entry c-measure center">

  <header class="mb3 mb4-ns">

    <h1 class="clip f4 mt0 mb3 p-name normal i c-accent">{{ page.title }}</h1>

    <p class="f6 mb0"><time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %b, %Y" }}</time> &middot; <a href="/notes">Note</a>{% if site.comments_enabled or page.comments_enabled %} &middot; <a href="#commentary" class="pv1">Commentary</a>{% endif %}</p>

  </header>

  <div class="e-content c-hyphens">

  {{ content }}

  {% include article-footer.html %}

{% include footer.html %}
