{% include header.html %}

<article class="h-entry c-measure center">

  <header class="mb3 mb4-ns flex flex-column-reverse">

    <h1 class="f3 ma0 p-name c-serif normal i c-accent">{{ page.title }}</h1>

    <p class="f6 mt0 mb3"><time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %b, %Y" }}</time> &middot; <a href="/posts">Post</a>{% if site.comments_enabled or page.comments_enabled %} &middot; <a href="#commentary" class="pv1">Commentary</a>{% endif %}</p>

  </header>

  <div class="e-content c-serif">

  {{ content }}

  {% include article-footer.html %}

{% include footer.html %}
