{% include header.html %}

<article class="h-entry c-measure center">

  <header class="mb4 flex flex-column-reverse">

    <h1 class="f3 f2-ns ma0 p-name c-accent">{{ page.title }}</h1>

    <p class="f6 mb2"><time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %b, %Y" }}</time> &middot; <a href="/posts">Post</a>{% if site.comments_enabled or page.comments_enabled %} &middot; <a href="#commentary" class="pv1">Commentary</a>{% endif %}</p>

  </header>

  <div class="e-content c-headings c-hyphens">

  {{ content }}

  {% include article-footer.html %}

{% include footer.html %}
